*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: Alata, Helvetica, Arial, sans-serif;
    background: rgb(255, 255, 255);
}


header{
    height: 100%;
    width: 14%;
    position: fixed;
    background: linear-gradient(85deg, #dfd4d4, white);
}

header nav{
    margin-top: 0%;
    padding: 14px 10%;
}

header li{
    padding: 25% 0 11% 0;
    border-bottom: 1px solid rgb(173, 173, 173);
    text-align: center;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 21% 0;
}

header a{
    color: #545454;
    font-size: 18px;
    font-style: italic;
    font-weight: 150;
    
}

main{
   margin-left: 14%;
   padding: 0 19px;
   text-align: center;
}

main h1{
    padding: 16px 0 22px 0;
    text-align: left;
    font-family: Bilbo Swash Caps, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(103, 59, 134);
    border-bottom: 5px solid #dfd4d4;
    border-radius: 5%;
}

main h1 span{
    font-size: 42px;
    color: black;
}

main section{
    margin: 25px 0;
}

.section-title{
    font-size: 40px;
    border-bottom: 3px solid #dfd4d4;
    border-radius: 6%;
    padding-bottom: 20px;
    text-align: center;
    margin: 5% auto 35px auto;
    width: 71%;
}

.about-me img{
    width: 65%;
    border-radius: 40px;
}

.about-me p{
    text-align: center;
    width: 62%;
    padding: 30px 0 25px 0;
    margin: auto;
}

.projects ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.projects ul li {
    width: 42%; 
}

.projects ul li a img {
    width: 100%;
    border-radius: 25px;
}

.projects ul li h4{
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: black;
}

