:root{
    --primary-color: rgb(103, 59, 134);
    --secondary-color: #f8f5f5;
    --tertiary-color: #dfd4d4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: Alata, Helvetica, Arial, sans-serif;
    background: linear-gradient(45deg, var(--tertiary-color), transparent);
}


header{
    height: 100%;
    width: 14%;
    position: fixed;
    /*background: linear-gradient(85deg, var(--tertiary-color), transparent);*/
}

header nav{
    margin-top: 0%;
    padding: 14px 10%;
}

header nav ul {
    margin-top: 50%;
}

header nav ul a li{
    padding: 9% 0;
    color: #545454;
    font-size: 18px;
    font-weight: 150;
    text-align: center;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 45% 0;
    box-shadow: -5px 9px 7px rgb(0 0 0 / 20%);
}

header nav ul a li:hover {
    background: whitesmoke;
    color: var(--primary-color);
    width: 105%;
}

main{
   margin-left: 14%;
   padding: 0 19px;
   text-align: center;
}

main h1 {
    padding: 16px 124px 22px 16px;
    text-align: left;
    font-family: Alata, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    color: var(--primary-color);
    border-bottom: 5px solid var(--tertiary-color);
    border-radius: 0 0 6% 6%;
    /*background: linear-gradient(323deg, var(--secondary-color), transparent);*/
}

main h1 span{
    font-size: 42px;
    color: black;
}

main section{
    margin: 25px 0;
}

.section-title{
    font-size: 40px;
    border-bottom: 3px solid var(--tertiary-color);
    border-radius: 6%;
    padding-bottom: 20px;
    text-align: center;
    margin: 4% auto 0 auto;
    width: 89%;
}

.content {
    background: var(--secondary-color);
    width: 80%;
    margin: 0px auto;
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 30%);
}

.about-me img{
    margin: 4% auto 0 auto;
    width: 65%;
    border-radius: 40px;
}

.about-me p {
    text-align: center;
    width: 62%;
    padding: 30px 0;
    margin: 0 auto;
}

.projects div ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 89%;
    margin: 0 auto;
}

.projects div ul li {
    width: 30%;
    margin: 3% auto; 
}

.projects div ul li a img {
    width: 100%;
    border-radius: 25px;
}

.projects div ul li h4{
    text-align: center;
    width: 100%;
    font-size: 24px;
}

.projects div ul li:hover {
    width: 30.5%;
}

.run-buddy-title{
    color: #024e76;
}

.run-buddy-title span{
    color: #fce138;
}

.horiseon-title{
    color: #2a607c;
}

.horiseon-title span{
    color: #d9dcd6;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 89%;
    margin: 0 auto;
}

.skills div {
    margin: 4% auto;
}

.skills div ul li {
    list-style: inside;
    text-align: left;

}

/*Connect Styles begin*/
.contact-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > *{
    flex: 1;
    margin: 15px;
}

.contact-links ul{
    margin-left: 25%;
}

.contact-links ul li {
    margin: 20px auto;
    line-height: 4.5;
    font-style: normal;
    text-align: left;
}

.contact-links ul li a{
    color: black;
}

.contact-links ul li a p{
    display: inline;
    margin-left: 2%;
}

.contact-links ul li a img{
    width: 34px;
    margin: -5px auto;
}

#indeed{
    width: 50px;
    margin: 0px -5px 0 -10px;
}

.contact-form input, .contact-form textarea{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.875);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: rgba(255,255,255,0.4);
}

.contact-form input:focus, .contact-form textarea:focus{
    background-color: rgba(255,255,255,1);
    outline: none;
}

.contact-form button{
    width: 100%;
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}

.contact-form button:hover{
    color: var(--primary-color);
    background: var(--tertiary-color);
}
/*Connect Styles end*/

/*Media Queries for screens 980px width or less*/
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px){
    header {
        margin: 0;
        height: 66px;
        width: 100%;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background: linear-gradient(85deg, var(--tertiary-color), whitesmoke);
    }

    header nav {
        margin-top: 0%;
        padding: 0;
        width: 100%;
    }

    header nav ul {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    header nav ul a li {
        padding: 6px 25px;
        margin: 0;
        font-size: 20px;
        border-radius: 20px;
    }
    
    main{
        margin: 0 auto;
    }

    main h1{
        margin: 0 auto 0 auto;
        padding: 79px 30px 0 0;
        text-align: left;
    }

    .about-me img{
        width: 75%;
    }

    .about-me p{
        width: 75%;
    }
}